/* footer {
  background-image: linear-gradient(rgb(1, 0, 26), rgba(0, 0, 0, 0.795));
  padding: 10px;
  display: flex;
  justify-content: center;
}

footer a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
} */




footer {
  background-image: linear-gradient(rgb(1, 0, 26), rgba(0, 0, 0, 0.795));
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: auto; 
}

footer a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
  
  font-size: 16px;
  display: flex;
  align-items: center;
}

footer a:hover {
  text-decoration: underline;
}

